
<div class="container">
    <div class="innercontainer innercontainer1">
        <img src="assets/amit.jpg" alt="">
        <img src="assets/amit.jpg" alt="">
        <img src="assets/amit.jpg" alt="">
        <img src="assets/amit.jpg" alt="">
        <img src="assets/amit.jpg" alt="">
        <img src="assets/amit.jpg" alt="">
    </div>
    <div class="innercontainer">
        <h1>You might like</h1>
        <div class="people">
            <img src="assets/amit.jpg" alt="">
            <div class="name">
                <h3>Rajnath Singh</h3>
                <h5>@rajnathsingh</h5>
            </div>
            <button>Follow</button>
        </div>
        <div class="people">
            <img src="assets/amit.jpg" alt="">
            <div class="name">
                <h3>Rajnath Singh</h3>
                <h5>@rajnathsingh</h5>
            </div>
            <button>Follow</button>
        </div>
        <div class="people">
            <img src="assets/amit.jpg" alt="">
            <div class="name">
                <h3>Rajnath Singh</h3>
                <h5>@rajnathsingh</h5>
            </div>
            <button>Follow</button>
        </div>
        <div class="people">
            <img src="assets/amit.jpg" alt="">
            <div class="name">
                <h3>Rajnath Singh</h3>
                <h5>@rajnathsingh</h5>
            </div>
            <button>Follow</button>
        </div>
    </div>
    <div class="innercontainer innercontainer2">
        <h1>What’s happening</h1>
    </div>
    
</div>

