h1, p{
    display: inline;
    padding-left: 200px;
    font-weight: 700;
    margin-bottom: 0px;
}
i{
    display: inline;
    margin-left: 10px;
    margin-right: 520px;
}
p{
    color: grey;
    font-weight: 500;
}