<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<div class="container">
    <img src="assets/banner.jpg" alt="">
    <div class="dp">
        <img src="https://pbs.twimg.com/profile_images/1180491411172413440/AunoqDQW_400x400.jpg" alt="">
    </div>
    <span class="dots">...</span>
    <button>Follow</button>
    <div class="name">
        <h3>Amit Shah</h3><i class="fas fa-badge-check fa-lg"></i>
        <p class="para1">@amitshah</p>
        <p class="para2">Union Home Minister, Minister of Cooperation and MP, Gandhinagar Lok Sabha. <br>
            <a href="">http://instagram.com/amitshahofficial</a> <br><br>
            <i class="far fa-link"></i>&nbsp;&nbsp;<a href="">amitshah.co.in</a>&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-calendar-alt"></i> &nbsp; <span> Joined May 2013</span> <br><br>
            <b> 298 </b><span> Following</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b> 27.7M </b><span> Followers </span> <br><br>
           <span>Followed by गृहमंत्री कार्यालय, HMO India</span></p>
    </div>
</div>
<!-- <app-profile-posts></app-profile-posts> -->