<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<div class="container">
    <i class="fal fa-times"></i>
    <div class="nameAndDesignation">
        <img src="assets/amit.jpg" alt="">
        <div class="headingAndPara">
            <h1>Amit Shah <i class="fad fa-badge-check"></i><span> @AmitShah· Dec </span></h1>
            <p>.@BSF_India के जवानों के साथ बैठकर देशभक्ति के गीतों को सुना।<br><br>
    
                यह मेरे जीवन के अविस्मरणीय पलों में से एक है।<br><br>
                
                अपने परिवार से दूर राष्ट्रभक्ति के इस सराहनीय जज्बे के साथ देश की सीमाओं की रक्षा कर <br> रहे सभी जवानों की बहादुरी व समर्पण को नमन करता हूँ। <br> https://pic.twitter.com/T3myDXZJnu <br><br>
                Replying to @AmitShah @HMOIndia and @BSF_India</p>
        </div>
    </div>

</div>