<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<div class="container">
    <div class="tweet">
        <div class="dp">
            R
        </div>
        <input type="text" placeholder="What's happening?">
    </div>
    <div class="belowtweet">
        <div class="icons">
            <i class="far fa-image fa-lg"></i>
            <i class="fas fa-poll-h fa-lg"></i>
            <i class="far fa-smile-beam fa-lg"></i>
            <i class="far fa-calendar fa-lg"></i>
            <i class="fas fa-map-marker-alt fa-lg"></i>
        </div>
        <button type="button" disabled>Tweet</button>
    </div>
</div>
