<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<div class="container">
    <div class="body">
        <!-- <img src="assets/twitter.png" alt="hwlllwelwe" mat-card-avtar> -->
        <ul>
            <li><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Home</li>
            <li><i class="fas fa-hashtag"></i>&nbsp;&nbsp;&nbsp;&nbsp;Explore</li>
            <li><i class="far fa-bell"></i>&nbsp;&nbsp;&nbsp;&nbsp;Notification</li>
            <li><i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;Messages</li>
            <li><i class="far fa-bookmark"></i>&nbsp;&nbsp;&nbsp;&nbsp;Bookmarks</li>
            <li><i class="far fa-list-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Lists</li>
            <li><i class="far fa-user"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</li>
            <li><i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;&nbsp;&nbsp;More</li>
        </ul>
        <button class="btn1">Tweet</button>
        <div class="footer">
            <div class="circle">R</div>
            <div class="profile">
                <h1>Rishabh Sharma</h1>
                <h2>@Rishabhpepcoder</h2>
            </div>
        </div>
    </div>
    
    
</div>

