<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


<div class="container">
    <p class="para1"><i class="fa fa-retweet fa-lg" aria-hidden="true"></i>गृहमंत्री कार्यालय, HMO India Retweeted</p>
    <div class="profile">
        <div class="dp"><img src="assets/amit.jpg" alt=""></div>
        <div class="underprofile">
            <a routerLink="/profile">Amit Shah <i class="fas fa-badge-check"></i><span> @AmitShah · Dec 4</span></a>
            <a href="" class="atTheRate">@BSF_India <span> के जवानों के साथ बैठकर देशभक्ति के गीतों को सुना। <br><br>यह मेरे जीवन के अविस्मरणीय पलों में से एक है। <br><br>
                अपने परिवार से दूर राष्ट्रभक्ति के इस सराहनीय जज्बे के साथ देश की सीमाओं की रक्षा कर रहे सभी जवानों की बहादुरी व समर्पण को नमन करता हूँ। Folded handsFolded hands </span></a>
        </div>
    </div>
    <video width="570" height="340" controls>
        <source src="assets/video1.mp4" type="video/mp4">
      </video>
      <div class="icons">

          <i (click)="openDialog()" class="fal fa-comment fa-lg"></i>
          <i class="fa fa-retweet fa-lg" aria-hidden="true"></i>
          <i class="fal fa-heart fa-lg"></i>
      </div>
</div>

<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->