input{
    margin-left: 60px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    padding-left: 50px;
    padding-right: 90px;
    background-color: #202327;
    position: relative;
}

i{
    position: absolute;
    z-index: 1;
    margin-left: 80px;
    margin-top: 15px;
}