<div class="container">
    <div class="image-bg">
        <div class="about">
            <img src="assets/signupbg.jpg" alt="" style="width: 300px; height: 300px; padding-bottom: 3rem; display:flex">
        </div>
    </div>
    <div class="user-bg">
        <div class="container">
            <img src="https://image.flaticon.com/icons/svg/733/733579.svg" class="twitter" alt="">
            <div class="intro">See what's happening in <br> the world right now</div><br><br>
            <p style="margin-left: 100px;">Join Twitter today</p>
            <!-- <form action="{{ url_for('home') }}" class="form-group" style="margin-left: 100px;" method="post">
                 {{form1.csrf_token}}
                {{form1.username(class='form_control',placeholder='Username')}}
                {{form1.email(class='form_control',placeholder='Email')}}
                {{form1.password(class='form_control',placeholder='Password')}} <br><br>
                <p >{{ form1.bday.label }}</p>
                {{ form1.bday(class='form_control', placeholder='dd-mm-yyyy') }}
                {% if form1.bday.errors %}
                    {% for error in form1.bday.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                {% endif %}
                <br>
                {{form1.signup(class='form_signup')}}
            </form> -->
            <p style="margin-left: 100px;"> 
                <button type="button" class="btn btn-info btn-lg" class="login" style="background: none; font-weight: bold; font-size: 17px; color: dodgerblue; border: none; padding: 0px 0px;" data-toggle="modal" data-target="#myModal"><span style="color: #FFFFFF;">Already have an account?</span> Login</button>
                </p>
        </div>
    </div>
</div>