/* You can add global styles to this file, and also import other style files */


html, body { 
    height: 100%; 
    color: #D4D4D4;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #000;
}

::-webkit-scrollbar{
    display: none;
}

.mat-dialog-container{
    background-color: black;
    width: 600px;
    height: 465px;
}
